

		body {
			background-color: #ffffff;
		}


	.not-loaded-resource img {
		width: 1.15em;
		height: 1.15em;
		background: white;
		padding: 2px !important;
		border-radius: 2px;
		box-shadow: 0 1px 3px #000000aa;
	}

	a.not-loaded-resource img {
		margin-right: .2em;
	}

	a.not-loaded-resource {
		display: flex;
		flex-direction: row;
		align-items: center;
	}


		/* TinyMCE adds a dashed border for tables that have no borders
		to make it easier to view where the cells are and edit them.
		However HTML notes may contain many nested tables used for
		layout and we also consider that these notes are more or less
		read-only. Because of this, we remove the dashed lines in this
		case as it makes the note more readable. */

		.mce-item-table:not([border]),
		.mce-item-table:not([border]) caption,
		.mce-item-table:not([border]) td,
		.mce-item-table:not([border]) th,
		.mce-item-table[border="0"],
		.mce-item-table[border="0"] caption,
		.mce-item-table[border="0"] td,
		.mce-item-table[border="0"] th,
		table[style*="border-width: 0px"],
		table[style*="border-width: 0px"] caption,
		table[style*="border-width: 0px"] td,
		table[style*="border-width: 0px"] th {
			border: none !important;
		}
